$base-color: #01015b;
$base-color-hover: #141480;
$secondary-color: #fcf158;
$tertiary-color: #bab8b8;
$tertiary-color-hover: #d6d4d4;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
